.app {
  max-width:400px;
  margin:30px auto;
  text-align: center;
}

nav {
  padding:5px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin:0 10px;
  /* padding:5px; */
}

.manifest-list {
  padding:20px;
  margin-bottom:20px;
}

.manifest-list ul {
  padding:0;
  list-style-type: none;
}

.manifest-list li {
  padding:10px;
  margin:10px auto;
  border-radius: 10px;
}